container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cricketapp.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles/
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: "django-insecure-*exidvhw#y!zxcu+d!l2b3oyu&pl@&)#3#^mtu3kpw)ycgk5)g"
    EMAIL_HOST_USER: "djangomitz@gmail.com"
    EMAIL_HOST_PASSWORD: "wffk dmkx tyen nqre"
    DJANGO_ALLOWED_HOSTS: "f69f9e6d5c8946998c8b1caa066ac7a4.vfs.cloud9.eu-west-1.amazonaws.com,x23271281Cricketapp.eba-bx7s7aes.eu-west-1.elasticbeanstalk.com,34.247.238.203"
    CSRF_TRUSTED_ORIGINS: "https://f69f9e6d5c8946998c8b1caa066ac7a4.vfs.cloud9.eu-west-1.amazonaws.com,https://x23271281Cricketapp.eba-bx7s7aes.eu-west-1.elasticbeanstalk.com,https://34.247.238.203"
    DJANGO_DEBUG: "False"
